USE [PhotocopyManagementDB]
GO
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [FK__UserSubje__UserI__71D1E811]
GO
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [FK__UserSubje__Subje__72C60C4A]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK__Users__Departmen__6D0D32F4]
GO
ALTER TABLE [dbo].[RequestAttachments] DROP CONSTRAINT [FK__RequestAt__Reque__02FC7413]
GO
ALTER TABLE [dbo].[RequestApprovals] DROP CONSTRAINT [FK__RequestAp__Reque__06CD04F7]
GO
ALTER TABLE [dbo].[RequestApprovals] DROP CONSTRAINT [FK__RequestAp__Appro__07C12930]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [FK__PrintingL__Reque__0D7A0286]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [FK__PrintingL__Print__0E6E26BF]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Teach__7A672E12]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Subje__7C4F7684]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Purpo__7D439ABD]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Depar__7B5B524B]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Curre__7E37BEF6]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [FK__Notificat__UserI__1EA48E88]
GO
ALTER TABLE [dbo].[InventoryTransactions] DROP CONSTRAINT [FK__Inventory__Reque__18EBB532]
GO
ALTER TABLE [dbo].[InventoryTransactions] DROP CONSTRAINT [FK__Inventory__ItemI__17F790F9]
GO
ALTER TABLE [dbo].[InventoryTransactions] DROP CONSTRAINT [FK__Inventory__Creat__19DFD96B]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [FK__AuditLogs__UserI__22751F6C]
GO
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [DF__UserSubje__IsAct__70DDC3D8]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__6C190EBB]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__6B24EA82]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__MustChang__6A30C649]
GO
ALTER TABLE [dbo].[Subjects] DROP CONSTRAINT [DF__Subjects__IsActi__619B8048]
GO
ALTER TABLE [dbo].[RequestAttachments] DROP CONSTRAINT [DF__RequestAt__Uploa__02084FDA]
GO
ALTER TABLE [dbo].[RequestAttachments] DROP CONSTRAINT [DF__RequestAt__Copie__01142BA1]
GO
ALTER TABLE [dbo].[RequestApprovals] DROP CONSTRAINT [DF__RequestAp__Actio__05D8E0BE]
GO
ALTER TABLE [dbo].[Purposes] DROP CONSTRAINT [DF__Purposes__IsActi__656C112C]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [DF__PrintingL__Print__0C85DE4D]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [DF__PrintingL__Print__0B91BA14]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [DF__PrintingL__Print__0A9D95DB]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__IsExa__797309D9]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__Submi__787EE5A0]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__Statu__778AC167]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__Prior__76969D2E]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [DF__Notificat__Creat__1DB06A4F]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [DF__Notificat__IsRea__1CBC4616]
GO
ALTER TABLE [dbo].[InventoryTransactions] DROP CONSTRAINT [DF__Inventory__Creat__17036CC0]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__Creat__14270015]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__IsAct__1332DBDC]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__Minim__123EB7A3]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__Curre__114A936A]
GO
ALTER TABLE [dbo].[Departments] DROP CONSTRAINT [DF__Departmen__IsAct__5DCAEF64]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [DF__AuditLogs__Creat__2180FB33]
GO
/****** Object:  Index [UQ_User_Subject]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [UQ_User_Subject]
GO
/****** Object:  Index [UQ__Users__F4D00BA206F1D027]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__F4D00BA206F1D027]
GO
/****** Object:  Index [UQ__Users__7AD04F10C5AA3C0B]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__7AD04F10C5AA3C0B]
GO
/****** Object:  Index [UQ__Subjects__4C5A7D55BA448724]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Subjects] DROP CONSTRAINT [UQ__Subjects__4C5A7D55BA448724]
GO
/****** Object:  Index [UQ__Purposes__C44E9BC357DC188A]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Purposes] DROP CONSTRAINT [UQ__Purposes__C44E9BC357DC188A]
GO
/****** Object:  Index [UQ__Photocop__9ADA6BE01E953DFC]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [UQ__Photocop__9ADA6BE01E953DFC]
GO
/****** Object:  Index [UQ__Departme__D949CC343D4B11DD]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Departments] DROP CONSTRAINT [UQ__Departme__D949CC343D4B11DD]
GO
/****** Object:  Table [dbo].[UserSubjects]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSubjects]') AND type in (N'U'))
DROP TABLE [dbo].[UserSubjects]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subjects]') AND type in (N'U'))
DROP TABLE [dbo].[Subjects]
GO
/****** Object:  Table [dbo].[RequestAttachments]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequestAttachments]') AND type in (N'U'))
DROP TABLE [dbo].[RequestAttachments]
GO
/****** Object:  Table [dbo].[RequestApprovals]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequestApprovals]') AND type in (N'U'))
DROP TABLE [dbo].[RequestApprovals]
GO
/****** Object:  Table [dbo].[Purposes]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Purposes]') AND type in (N'U'))
DROP TABLE [dbo].[Purposes]
GO
/****** Object:  Table [dbo].[PrintingLogs]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PrintingLogs]') AND type in (N'U'))
DROP TABLE [dbo].[PrintingLogs]
GO
/****** Object:  Table [dbo].[PhotocopyRequests]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhotocopyRequests]') AND type in (N'U'))
DROP TABLE [dbo].[PhotocopyRequests]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notifications]') AND type in (N'U'))
DROP TABLE [dbo].[Notifications]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryTransactions]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryItems]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryItems]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 10/06/2026 8:12:14 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AuditLogs]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ActionType] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItems](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinimumStock] [int] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[RequestId] [int] NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotocopyRequests]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotocopyRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestNumber] [nvarchar](50) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[PurposeId] [int] NOT NULL,
	[Copies] [int] NOT NULL,
	[TotalPages] [int] NOT NULL,
	[TotalSheets] [int] NOT NULL,
	[PriorityLevel] [nvarchar](20) NULL,
	[Status] [nvarchar](50) NULL,
	[CurrentApproverId] [int] NULL,
	[SubmittedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
	[PrintedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[PaperSize] [nvarchar](20) NULL,
	[PrintType] [nvarchar](50) NULL,
	[DueDate] [datetime] NULL,
	[PrintSide] [nvarchar](20) NULL,
	[IsExam] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrintingLogs]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintingLogs](
	[PrintingLogId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[PrintedBy] [int] NOT NULL,
	[PrintedPages] [int] NOT NULL,
	[PrintedSheets] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[PrintedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrintingLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purposes]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purposes](
	[PurposeId] [int] IDENTITY(1,1) NOT NULL,
	[PurposeName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurposeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestApprovals]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestApprovals](
	[ApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[ApproverId] [int] NOT NULL,
	[ApprovalRole] [nvarchar](50) NOT NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestAttachments]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestAttachments](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[OriginalFileName] [nvarchar](255) NOT NULL,
	[StoredFileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[FileType] [nvarchar](100) NULL,
	[FileSizeKB] [decimal](18, 2) NULL,
	[PageCount] [int] NULL,
	[Copies] [int] NOT NULL,
	[TotalSheets] [int] NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[SchoolEmail] [nvarchar](255) NOT NULL,
	[DepartmentId] [int] NULL,
	[Subject] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[MustChangePassword] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubjects]    Script Date: 10/06/2026 8:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubjects](
	[UserSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive]) VALUES (1, N'FS', 1)
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive]) VALUES (2, N'Primary', 1)
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive]) VALUES (3, N'Secondary', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryItems] ON 

INSERT [dbo].[InventoryItems] ([ItemId], [ItemName], [Category], [CurrentStock], [MinimumStock], [Unit], [IsActive], [CreatedAt]) VALUES (1, N'A4 Paper', N'Paper', 70, 10, N'Box', 1, CAST(N'2026-06-09T16:29:30.907' AS DateTime))
INSERT [dbo].[InventoryItems] ([ItemId], [ItemName], [Category], [CurrentStock], [MinimumStock], [Unit], [IsActive], [CreatedAt]) VALUES (2, N'A3 Paper', N'Paper', 10, 5, N'Box', 1, CAST(N'2026-06-09T16:29:30.907' AS DateTime))
INSERT [dbo].[InventoryItems] ([ItemId], [ItemName], [Category], [CurrentStock], [MinimumStock], [Unit], [IsActive], [CreatedAt]) VALUES (3, N'Black Toner', N'Toner', 5, 2, N'Piece', 1, CAST(N'2026-06-09T16:29:30.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[InventoryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[PhotocopyRequests] ON 

INSERT [dbo].[PhotocopyRequests] ([RequestId], [RequestNumber], [TeacherId], [DepartmentId], [SubjectId], [PurposeId], [Copies], [TotalPages], [TotalSheets], [PriorityLevel], [Status], [CurrentApproverId], [SubmittedAt], [ApprovedAt], [PrintedAt], [CompletedAt], [Remarks], [PaperSize], [PrintType], [DueDate], [PrintSide], [IsExam]) VALUES (1, N'REQ-1781017379548', 7, 2, 1, 1, 30, 10, 300, N'Normal', N'Pending', 5, CAST(N'2026-06-09T19:02:59.887' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[PhotocopyRequests] ([RequestId], [RequestNumber], [TeacherId], [DepartmentId], [SubjectId], [PurposeId], [Copies], [TotalPages], [TotalSheets], [PriorityLevel], [Status], [CurrentApproverId], [SubmittedAt], [ApprovedAt], [PrintedAt], [CompletedAt], [Remarks], [PaperSize], [PrintType], [DueDate], [PrintSide], [IsExam]) VALUES (2, N'REQ-1781017557185', 7, 2, 1, 1, 30, 10, 300, N'Normal', N'Pending', 5, CAST(N'2026-06-09T19:05:57.440' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[PhotocopyRequests] ([RequestId], [RequestNumber], [TeacherId], [DepartmentId], [SubjectId], [PurposeId], [Copies], [TotalPages], [TotalSheets], [PriorityLevel], [Status], [CurrentApproverId], [SubmittedAt], [ApprovedAt], [PrintedAt], [CompletedAt], [Remarks], [PaperSize], [PrintType], [DueDate], [PrintSide], [IsExam]) VALUES (3, N'REQ-1781017806771', 7, 2, 1, 1, 30, 10, 300, N'Normal', N'Pending', 5, CAST(N'2026-06-09T19:10:07.093' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[PhotocopyRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Purposes] ON 

INSERT [dbo].[Purposes] ([PurposeId], [PurposeName], [IsActive]) VALUES (1, N'Classwork', 1)
INSERT [dbo].[Purposes] ([PurposeId], [PurposeName], [IsActive]) VALUES (2, N'Homework', 1)
INSERT [dbo].[Purposes] ([PurposeId], [PurposeName], [IsActive]) VALUES (3, N'Assessment', 1)
SET IDENTITY_INSERT [dbo].[Purposes] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestApprovals] ON 

INSERT [dbo].[RequestApprovals] ([ApprovalId], [RequestId], [ApproverId], [ApprovalRole], [ApprovalStatus], [Remarks], [ActionDate]) VALUES (7, 7, 5, N'HOD', N'Pending', NULL, CAST(N'2026-06-09T19:25:51.167' AS DateTime))
INSERT [dbo].[RequestApprovals] ([ApprovalId], [RequestId], [ApproverId], [ApprovalRole], [ApprovalStatus], [Remarks], [ActionDate]) VALUES (8, 8, 5, N'HOD', N'Pending', NULL, CAST(N'2026-06-10T04:33:19.780' AS DateTime))
INSERT [dbo].[RequestApprovals] ([ApprovalId], [RequestId], [ApproverId], [ApprovalRole], [ApprovalStatus], [Remarks], [ActionDate]) VALUES (9, 9, 5, N'HOD', N'Pending', NULL, CAST(N'2026-06-10T05:37:56.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[RequestApprovals] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [IsActive]) VALUES (1, N'English', 1)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [IsActive]) VALUES (2, N'Math', 1)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [IsActive]) VALUES (3, N'Science', 1)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [EmployeeId], [FullName], [SchoolEmail], [DepartmentId], [Subject], [Role], [PasswordHash], [MustChangePassword], [IsActive], [CreatedAt]) VALUES (1, N'SA0001', N'System Super Admin', N'superadmin1@arabunityschool.ae', 6, N'General', N'SuperAdmin', N'$2b$10$fkfTy6u5eZfF3hEcnXPEtepLA6nn6MT2EyTdH3U6VSo/gTImtBQCa', 0, 1, CAST(N'2026-06-09T16:29:30.900' AS DateTime))
INSERT [dbo].[Users] ([UserId], [EmployeeId], [FullName], [SchoolEmail], [DepartmentId], [Subject], [Role], [PasswordHash], [MustChangePassword], [IsActive], [CreatedAt]) VALUES (2, N'SA0002', N'Backup Super Admin', N'superadmin2@arabunityschool.ae', 6, N'General', N'SuperAdmin', N'$2b$10$fkfTy6u5eZfF3hEcnXPEtepLA6nn6MT2EyTdH3U6VSo/gTImtBQCa', 0, 1, CAST(N'2026-06-09T16:29:30.900' AS DateTime))
INSERT [dbo].[Users] ([UserId], [EmployeeId], [FullName], [SchoolEmail], [DepartmentId], [Subject], [Role], [PasswordHash], [MustChangePassword], [IsActive], [CreatedAt]) VALUES (3, N'A1001', N'System Administrator', N'admin@arabunityschool.ae', 7, N'General', N'Admin', N'$2b$10$fkfTy6u5eZfF3hEcnXPEtepLA6nn6MT2EyTdH3U6VSo/gTImtBQCa', 0, 1, CAST(N'2026-06-09T16:29:30.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC343D4B11DD]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Photocop__9ADA6BE01E953DFC]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[PhotocopyRequests] ADD UNIQUE NONCLUSTERED 
(
	[RequestNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Purposes__C44E9BC357DC188A]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Purposes] ADD UNIQUE NONCLUSTERED 
(
	[PurposeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subjects__4C5A7D55BA448724]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__7AD04F10C5AA3C0B]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F4D00BA206F1D027]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[SchoolEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Subject]    Script Date: 10/06/2026 8:12:14 AM ******/
ALTER TABLE [dbo].[UserSubjects] ADD  CONSTRAINT [UQ_User_Subject] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((0)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT ('Normal') FOR [PriorityLevel]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT ((0)) FOR [IsExam]
GO
ALTER TABLE [dbo].[PrintingLogs] ADD  DEFAULT ((0)) FOR [PrintedPages]
GO
ALTER TABLE [dbo].[PrintingLogs] ADD  DEFAULT ((0)) FOR [PrintedSheets]
GO
ALTER TABLE [dbo].[PrintingLogs] ADD  DEFAULT (getdate()) FOR [PrintedAt]
GO
ALTER TABLE [dbo].[Purposes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RequestApprovals] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[RequestAttachments] ADD  DEFAULT ((1)) FOR [Copies]
GO
ALTER TABLE [dbo].[RequestAttachments] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSubjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([ItemId])
REFERENCES [dbo].[InventoryItems] ([ItemId])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[PhotocopyRequests] ([RequestId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([CurrentApproverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([PurposeId])
REFERENCES [dbo].[Purposes] ([PurposeId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PrintingLogs]  WITH CHECK ADD FOREIGN KEY([PrintedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PrintingLogs]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[PhotocopyRequests] ([RequestId])
GO
ALTER TABLE [dbo].[RequestApprovals]  WITH CHECK ADD FOREIGN KEY([ApproverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RequestApprovals]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[PhotocopyRequests] ([RequestId])
GO
ALTER TABLE [dbo].[RequestAttachments]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[PhotocopyRequests] ([RequestId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
