ARAB UNITY SCHOOL OPERATIONS PLATFORM
Build Enterprise Workspace Configuration, Preview, Live Mode, and Permission-Controlled Navigation

Continue from the existing repository and SQL Server schema.

Do not redesign the architecture and do not duplicate working implementations.

Objective

Build a complete enterprise workspace system that controls how every role sees and uses the platform.

Required workspaces:

Super Admin
Platform Admin
Printing Admin
Teacher
HOD
HOS / Secretary
Librarian / Library Admin
Other future workspaces supported by the existing schema

A workspace controls presentation and navigation. It must not grant permission by itself.

Workspace
└── Modules
    └── Menus
        └── Buttons and widgets

Permissions determine what the user is actually authorized to do.

Mandatory First Step

Before coding, scan the complete repository and SQL schema.

Review:

Workspace Manager
Navigation Manager
Dashboard Manager
Module Manager
Menu Manager
Button Manager
Widget Manager
Feature Flags
Users
Roles
Permissions
Permission Groups
Role Permissions
User Permission Overrides
Permission Resolver
Access Levels
Assignment Types
User Assignments
Authentication
Dynamic sidebar
Frontend route guards
Backend authorization middleware
Audit logging
Printing Management
IT Asset Management
Existing dashboards and landing pages

Identify what is already complete, partially complete, missing, duplicated, or disconnected.

Reuse existing tables, APIs, routes, components, and services wherever possible.

Workspace Configuration

Authorized administrators must be able to configure each workspace from the frontend without manually editing SSMS.

Support:

Assigned modules
Sidebar groups
Menus
Parent-child menu hierarchy
Buttons and actions
Widgets
Dashboard
Default landing route
Visible/hidden state
Enabled/disabled state
Sort order
Workspace preview
User-specific workspace inspection
Effective-permission display

All settings must persist through backend APIs into SQL Server.

Do not hardcode workspace navigation in React.

Workspace Rules
Super Admin

Super Admin is the highest authority.

Super Admin must have:

Full access to all active platform modules
Full access to all routes, APIs, menus, buttons, widgets, and dashboards
Full access to Platform Foundation
Full access to User & Access
Full access to School Configuration
Full access to School Structure
Full access to Printing Management
Full access to IT Asset Management
Ability to configure every workspace
Ability to preview every workspace
Exclusive access to Live Mode

Workspace configuration may change the Super Admin sidebar presentation, but it must never remove Super Admin authority.

Platform Admin

Platform Admin must have access to:

Printing Management
IT Asset Management
Reports and Analytics
Other operational modules assigned by Super Admin
Limited platform tools only when explicitly permitted

Platform Admin must not automatically configure:

Platform Foundation
School Configuration
School Structure
Global roles
Global permissions
Global modules
Global system settings
Organization-wide master data
Security-critical settings

Platform Admin may receive Preview Mode through explicit permission.

Platform Admin must never receive Live Mode.

Printing Admin

Printing Admin must have access to:

Printing Management
IT Asset Management
Other assigned IT operational modules

Printing Admin must not gain access merely because a module appears in the workspace.

Every action must still require explicit permission.

Teacher

Teacher workspace must contain only user-facing functions, such as:

Dashboard
Create Print Request
My Requests
Request History
My Tickets
My Assigned Assets
Library access
Announcements
Profile

Do not expose technical administration module names.

HOD

Include only permitted functions such as:

HOD Dashboard
Department Requests
Pending Approvals
Approval History
Department Reports
Department Tickets
Department Assets
HOS / Secretary

Use the existing approval logic.

Include only permitted functions such as:

HOS Dashboard
Section Requests
High-value Print Approvals
Approval History
Subject or Department Allocations
Reports
Relevant tickets and assets

Secretary must follow the existing HOS-equivalent logic.

Librarian / Library Admin

Include only supported library functions, such as:

Library Dashboard
Books
Categories
Members
Borrowing
Returns
Reservations
Overdue Items
Inventory
Reports

Hide unsupported functions instead of creating placeholder pages.

Shared Module Assignment

Do not duplicate modules for different workspaces.

Reuse one implementation and assign it to multiple workspaces.

Printing Management
├── Super Admin
├── Platform Admin
└── Printing Admin
IT Asset Management
├── Super Admin
├── Platform Admin
└── Printing Admin

The same SQL tables, backend APIs, frontend pages, routes, services, and business logic must be reused.

Workspace assignment controls presentation.

Permissions control actions.

Strict Workspace Security

Everything inside every workspace must always be protected.

Workspace assignment
→ Sidebar visibility
→ Frontend route guard
→ Backend permission middleware
→ Service validation
→ Data-scope validation

Required behavior:

Workspace membership alone never grants access.
Only permitted modules appear.
Only permitted menus appear.
Only permitted buttons and widgets appear.
Unauthorized direct URLs display Access Denied.
Unauthorized API requests return 403 Forbidden.
Hidden frontend actions must still be blocked by the backend.
User Permission Overrides must be resolved through the existing Permission Resolver.
Data must be scoped by the user’s school, department, section, assignment, or other existing scope where applicable.

Example:

Printing Admin can open IT Asset Management.

Granted:
- View Assets
- View Asset Details
- Export Assets

Not granted:
- Create Assets
- Edit Assets
- Transfer Assets
- Dispose Assets
- Import Assets

The user must not perform ungranted actions through buttons, direct links, or direct API calls.

Preview Mode

Preview Mode must show exactly how a workspace or specific user will experience the platform.

Preview must display:

Sidebar
Dashboard
Modules
Menus
Buttons
Widgets
Default landing page
Workspace assignments
Role permissions
User overrides
Effective permissions

Preview Mode must:

Be read-only
Open in a separate tab
Never replace the current session
Never grant action permissions
Display a clear Preview Mode banner
Reflect the current saved workspace configuration
Allow immediate exit

Access:

Super Admin always has Preview Mode.
Platform Admin may receive Preview Mode through explicit permission.
Platform Admin may preview only permitted workspaces and users.
Printing Admin and lower roles must not receive Preview Mode unless explicitly approved by the final architecture.

Suggested permissions:

workspace.preview
workspace.preview_user

Preview must block every write action, including create, update, delete, approve, transfer, dispose, import, and configuration actions.

Live Mode

Live Mode is exclusive to Super Admin.

It allows Super Admin to temporarily operate inside a selected user’s real workspace for troubleshooting.

Live Mode must:

Open in a separate tab
Require confirmation
Require a reason
Preserve the original Super Admin session
Never expose the target user’s password or credentials
Use the target user’s actual workspace
Use the target user’s effective permissions
Use the target user’s data scope
Display a permanent Live Mode warning banner
Provide an immediate Exit Live Mode action
Audit entry, exit, routes, and actions
Record the Super Admin, target user, reason, timestamp, route, and performed action
Require additional confirmation for sensitive operations where appropriate

Suggested permissions:

workspace.live_mode
workspace.live_as_user

These permissions must be permanently restricted to Super Admin and must not be assignable to Platform Admin or lower roles.

Workspace Manager UI

Build or complete the Workspace Manager frontend.

Suggested structure:

Workspace Manager

Tabs:
- Workspace Settings
- Modules
- Navigation
- Buttons
- Widgets
- Dashboard
- Permissions
- Profiles
- Preview

The administrator should be able to:

Select a workspace
Assign modules
Configure menus
Reorder sidebar items
Configure buttons
Configure widgets
Set the dashboard
Set the default landing route
View effective permissions
Preview the workspace
Select a user profile
Preview that user
Open Live Mode when the authenticated user is Super Admin
Printing Management Review

Before changing Printing Management, scan the existing implementation completely.

Review:

SQL tables
Backend repositories
Services
Controllers
Routes
Validators
Frontend pages
Printing roles
Approval rules
Department limits
Subject limits
Approval thresholds
Paper inventory
Purchases
Distributions
Reports

Preserve all working Printing Management logic.

Super Admin, Platform Admin, and Printing Admin may access Printing Management according to their permissions.

Configurable printing values must not be hardcoded.

Use existing database settings and APIs where available.

Where a required value is currently hardcoded, move it into the minimum compatible database-driven configuration without redesigning the module.

IT Asset Management Integration

Super Admin, Platform Admin, and Printing Admin are part of the same IT Department and may use IT Asset Management.

Reuse the existing implementation.

Do not create separate IT Asset pages for each workspace.

Permissions must control actions such as:

View
Create
Edit
Assign
Transfer
Dispose
Import
Export
Configure
Sidebar and Routing

The dynamic sidebar must load workspace assignments and effective permissions from the backend.

Verify:

Correct SQL records
Correct module-menu relationships
Correct parent-child hierarchy
Correct sort order
Correct icons
Correct active highlighting
Correct route registration
Correct refresh behavior
Correct default landing route
No duplicate sidebar entries
No hardcoded role conditions
No broken links
No unnecessary placeholder landing pages

Where a module has no dedicated landing page, route the user to its first permitted menu.

Repository Safety

Do not delete existing files, folders, routes, records, or components that may still be used by Printing Management, IT Asset Management, or other completed modules.

Prefer:

Reuse
Separate
Reorganize
Rename safely
Deprecate carefully
Preserve compatibility

Do not create duplicate:

Tables
Repositories
Services
Controllers
Routes
Components
Modules
Permission resolvers
Navigation systems
Testing

Test with actual accounts for:

Super Admin
Platform Admin
Printing Admin
Teacher
HOD
HOS / Secretary
Librarian

Test:

Login
Landing page
Sidebar
Module visibility
Menu visibility
Button visibility
Widget visibility
Workspace preview
User preview
Live Mode
Direct URLs
Direct API calls
Role permissions
User permission overrides
Data scoping
Printing workflows
Printing limits
IT Asset access
Audit logs
Logout
Refresh
Browser back and forward
Frontend build
Backend validation

Required security tests:

Platform Admin can use Preview Mode only when granted.
Platform Admin cannot use Live Mode.
Every non-Super-Admin user receives 403 Forbidden for Live Mode routes and APIs.
Preview Mode cannot modify data.
Live Mode uses the target user’s permissions and scope.
Hidden menus cannot be opened directly without permission.
Workspace assignment never bypasses permissions.
Super Admin retains full authority.

Run:

npm run build

Run the existing backend test or validation command and fix all errors before completion.

Deliverables

Provide a final report containing:

Existing functionality found
Missing functionality implemented
Files created
Files modified
SQL migrations or seed scripts
Backend routes added
Frontend routes added
Workspace mappings
Module mappings
Menu mappings
Button and widget mappings
Preview Mode implementation
Live Mode implementation
Printing Management review
IT Asset integration
Permission enforcement results
Role-based login results
Build results
Remaining issues

Do not report completion until the full workspace system is database-driven, configurable from the frontend, permission-guarded at every layer, previewable, securely auditable, tested with real roles, and working without breaking Printing Management, IT Asset Management, or any completed platform functionality.